* {
  margin: 0rem;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* DIV CENTRAL DE GOOGLE */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.central {
  width: 40rem;
  height: auto;
  border: 2px solid #000;
  font-size: 1.5rem;
}

.img__container {
  width: auto;
  display: flex;
  justify-content: center;
}

.img__container div {
  text-align: center;
}

.central__logoimg {
  width: 50%;
  height: auto;
}

/* Input Central */

.central__input {
  margin: 1.2rem 0;
}

.central__input2 {
  width: 100%;
  height: 3rem;
  border: 1px solid #e5e5e5;
  border-radius: 2rem;
}

/* Botones Centrales */

.central__buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.central__buttons button {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0 0.8rem;
}

/* Central Texto */
.central__texto {
  font-size: 1rem;
  text-align: center;
}
